body {
	margin: 0;
	font-family: 'DotGothic16';
	background: rgba(219, 112, 147, 1);
}
h1 {
	text-align: center;
	line-height: 0.5;
}
h2 {
	letter-spacing: 0.5px;
	line-height: 0.5;
}
h6 {
	text-align: center;
	letter-spacing: 0.5px;
}
p {
	letter-spacing: 0.5px;
}
li {
	display: inline;
}
ul {
	text-align: center;
}
a:hover {
	color: goldenrod;
	background-color: green;
}
.header {
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 2px solid;
	text-align: left;
	padding: 5px 20px;
}
.leftside {
	flex: 1;
	text-align: center;
}
.rightside {
	flex: 1;
}
.flex-container {
	display: flex;
}