html{
	margin: 0;
	/* background: rgba(219, 112, 147, 1); */
	scrollbar-width: none;
	overflow-x: hidden;
}
body {
	overflow-x:hidden;
	margin: 1vmin;
	display: block;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}
body::before { 
	content: "";
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: -10;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: scroll;
}
h1 {
	font-size: 3.4vmin;
	text-align: center;
	line-height: 0.8vmin;
}
h2 {
	font-size: 2.5vmin;
	letter-spacing: 0.05vmin;
	line-height: 1.0vmin;
}
h6 {
	font-size: 1.2vmin;
	text-align: center;
	letter-spacing: 0.05vmin;
	line-height: 0.5vmin;
}
hr {
	border: none;
	/* border-top: 3px double #333; */
	border-top: 0.4vmin double #333;
	color: #333;
	overflow: visible;
	text-align: center;
	height: 1vmin;
	font-size: 1.7vmin;
}
hr:after {
	background: rgba(213,108,140,255);
	content: 'ยง';
	/* padding: 0 4px; */
	padding: 0 0.3vmin;
	position: relative;
	/* top: -13px; */
	top: -1.5vmin;
	font-size: 1.7vmin;
}
p {
	letter-spacing: 0.05vmin;
	font-size: 1.7vmin;
}
li {
	display: inline;
}
ul {
	padding: 0;
	text-align: center;
}
a {
	color: #575757;
}
a:visited {
	color: #575757;
}
a:hover {
	color: goldenrod;
	background-color: green;
}
footer {
	border-top: 0.3vmin solid;
	text-align: center;
	font-size: 1.0vmin;
	padding-top: 2vmin;
	padding-bottom:2vmin;
}
span {
	display: block;
}
.header {
	top: 0;
	left: 0;
	/* border-bottom: 2px solid; */
	border-bottom: 0.3vmin solid;
	text-align: left;
	padding-bottom: 0.9vmin;
	padding-left: 2.0vmin;
}
/* .header span {
	padding-left: 20px;
} */
.header img {
	padding-right: 2.0vmin;
}
.links {
	font-size: 1.7vmin;
}
.title {
	padding-top: 1vmin;
}
.navigationbar {
	font-size: 1.7vmin;
}
.leftside {
	flex: 1;
	text-align: center;
	padding-left: 0.5vmin;
}
.rightside {
	flex: 1;
	padding-right: 0.5vmin;
}
.rightsidecenter{
	flex: 1;
	text-align: center;
	padding-right: 0.5vmin;
}
.flex-container {
	font-size: 1.7vmin;
	display: flex;
}
.hiddenText {
	display: none;
}
.imageToHideText:hover + .hiddenText {
	display: block;
	text-align: center;
}
.hoverZoomImage {
	background-position: 50% 50%;
	position: relative;
}
.hoverZoomImage:hover {
	transition: transform 0.2s ease-in-out;
	transform: scale(1.2);
	object-fit: none;
}
.body-content {
	display: flex;
}
.sidenav {
	margin-left: 1.5vmin;
	padding: 0;
	width: 10.5vmin;
	position: fixed;
	overflow: auto;
	font-size: 1.73vmin;
}
.sidenav a {
	display: block;
	color: black;
	padding: 1.6vmin;
	text-decoration: none;
	background-color: gainsboro;
}
.sidenav a.active {
	background-color: green;
	color: goldenrod;
	font-style: italic;
	font-weight: bold;
}
.sidenav a:hover:not(.active) {
	background-color: green;
	color: goldenrod;
}
.dropbutton {
	color: #575757;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #ddd;
	min-width: 8vw;
	z-index: 1;
	text-align: left;
}
.dropdown-content a {
	color: #575757;
	text-decoration: none;
	display: block;
	border-style: solid;
	border-width: 0.2vmin;
	border-color: black;
	padding-left:0.2vw;
}
.dropdown-content a:hover {
	background-color: white;
	border-style: solid;
	border-width: 0.2vmin;
	border-color: black;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover .dropbutton {
	background-color: green;
	color: goldenrod;
}
.main {
	margin-left: 14vmin;
	margin-right: 4vmin;
	overflow: auto;
	padding: 0.1vmin 1.6vmin;
	font-size: 1.7vmin;

}
@media only screen and (max-width: 800px){
	.mobileHidden {
		display: none;
	}
	.flex-container {
		flex-flow: column !important;
		flex-direction: column;
	}
	.links {
		font-size: 2.5vw !important;
	}
	.title h1 {
		font-size: 6vw !important;
	}
	.title h6 {
		font-size: 2.5vw !important;
		margin-bottom: 2%;
	}
	.navigationbar {
		font-size: 3.25vw !important;
	}
	h2 {
		font-size: 4.5vw !important;
		line-height: normal !important;
		margin-top: 0%;
		margin-bottom: 1vw;
	}
	p {
		font-size: 70%;
	}
	hr {
		margin-top: 2%;
		border-top: 0.8vmin double #333;
	}
	hr:after {
		top: -2.5vw !important;
		font-size: 2.5vw;
	}
	.leftside figcaption { /* used for homepage */
		font-size:2.5vw;
	}
	.leftside p {
		font-size: 175% !important;
	}
	#randImg {
		width:45vmin !important;
	}
	.borderimg1class {
		max-width: 55% !important;
	}
	.rightside {
		text-align: center;
	}
	.rightside h2 {
		font-size: 250% !important;
	}
	.rightside p {
		font-size:175% !important;
		margin-bottom:0%;
	}
	.rightsidecenter {
		font-size:125% !important;
	}
	.main h3 {
		margin-top: 0vh;
		font-size: 200%;
		margin-bottom: 0%;
	}
	footer {
		font-size:2.0vw;
	}
	.mobileCenterText {
		text-align: center !important;
	}
	ul {
		margin: 0;
		padding: 0;
		border: 0;
	}
	.cerialEntry {
		justify-content: center !important;
	}
	#micPositionsPic {
		width: auto !important;
	}
	#dither_button {
		width: 13vw !important;
	}
}
@media only screen and (max-width: 1630px){
	#pkmnVideo {
		display: none;
	}
	#pkmnLeftSideText{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#pkmnImage {
		float: none !important;
		max-width: 52% !important;
	}
	#fourierifierFlexContainer {
		flex-direction: column;
	}
	#fourierifierRightSide {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#fourierifierImage {
		max-width: 65% !important;
	}
}
@font-face {
	font-family: 'DotGothic16';
	src:
		local('DotGothic16'),
		url('assets/fonts/DotGothic16-Regular.ttf'),
		url('https://fonts.googleapis.com/css?family=DotGothic16');
	size-adjust: 100%;
}
@font-face {
	font-family: 'Times New Roman';
	src:
		local('Times New Roman'),
		url('assets/fonts/TimesNewRoman-Regular.ttf');
	size-adjust: 125%;
}
@font-face {
	font-family: 'Courier New';
	src:
		local('Courier New'),
		url('assets/fonts/CourierNew-Regular.ttf');
	size-adjust: 110%;
}
@font-face {
	font-family: 'CoralPixels';
	src:
		local('CoralPixels'),
		url('assets/fonts/CoralPixels-Regular.ttf'),
		url('https://fonts.googleapis.com/css2?family=Coral+Pixels');
	size-adjust: 100%;
}
@font-face {
	font-family: 'OpenDyslexic3';
	src:
		local('OpenDyslexic3'),
		url('assets/fonts/OpenDyslexic3-Regular.ttf');
	size-adjust: 110%;
}
#borderimg1 {
	border: 12px solid transparent;
	border-width: 1.4vmin;
	padding: 0px;
	border-image: url('assets/img-border.png') 50 stretch;
}
.borderimg1class {
	border: 12px solid transparent;
	border-width: 1.4vmin;
	padding: 0px;
	border-image: url('assets/img-border.png') 50 stretch;
}
#textborder1 {
	border: 12px solid transparent;
	padding: 0px;
	border-image: url('assets/img-border.png') 50 stretch;
	background-color: white;
}
#randImg {
	border: 12px solid transparent;
	border-width: 1.4vmin;
	padding: 0px;
	border-image: url('assets/img-border.png') 50 stretch;
	width: 35vmin;
	margin: auto;
}