body {
	margin: 0;
	font-family: 'DotGothic16';
	background: rgba(219, 112, 147, 1);
}
h1 {
	text-align: center;
	line-height: 0.5;
}
h2 {
	letter-spacing: 0.5px;
	line-height: 1.0;
}
h6 {
	text-align: center;
	letter-spacing: 0.5px;
	line-height: 0.5;
}
p {
	letter-spacing: 0.5px;
}
li {
	display: inline;
}
ul {
	text-align: center;
}
a:hover {
	color: goldenrod;
	background-color: green;
}
footer {
	border-top: 2px solid;
	text-align: center;
	font-size: 50%;
	padding-top: 20px;
	padding-bottom:20px;
}
.header {
	top: 0;
	left: 0;
	border-bottom: 2px solid;
	text-align: left;
	padding: 5px 20px;	
}
.leftside {
	flex: 1;
	text-align: center;
}
.rightside {
	flex: 1;
}
.rightsidecenter{
	flex: 1;
	text-align: center;
}
.flex-container {
	display: flex;
}
.hiddenText {
	display: none;
}
.imageToHideText:hover + .hiddenText {
	display: block;
	text-align: center;
}
.hoverZoomImage {
	background-position: 50% 50%;
	position: relative;
}
.hoverZoomImage:hover {
	transition: transform 0.2s ease-in-out;
	transform: scale(1.2);
	object-fit: none;
}
